[submodule "external/file_dialog"]
	path = external/file_dialog
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "external/nanogui"]
	path = external/nano_gui
	url = https://github.com/mitsuba-renderer/nanogui.git
